<div>
  <h2>Statistics:</h2>
  <div class="well" style="font-size:2rem; width:auto">
  Total Tasks-<span class="total"><%- totalCountChecker() %> </span> <br>
  <span style="color:red">Not Started -</span> <span class="notStarted" style="color:red"> <%- notStartedChecker() %></span> <br>
  <span style="color:blue">In Progress - </span> <span class="inProgress" style="color:blue"><%- inProgressChecker() %></span><br>
  <span style="color:Green">Complete- </span> <span class="Complete" style="color:Green"><%- completeChecker() %></span><br>
  </div>
</div>